<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config/database.properties"/>

    <!--设置全局运行参数-->
    <settings>
        <!--启用延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--设置别名-->
    <typeAliases>
        <!--<typeAlias type="com.cjx913.mybatis.pojo.User" alias="user"/>--><!--指定别名，不区分大小写-->
        <package name="com.cjx913.mybatis.pojo"/><!--默认别名是类名,不区分大小写-->
    </typeAliases>

    <environments default="oracle">
        <environment id="oracle">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${oracle.db.driver}"/>
                <property name="url" value="${oracle.db.url}"/>
                <property name="username" value="${oracle.db.username}"/>
                <property name="password" value="${oracle.db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="config/User-mapper.xml"/>
        <package name="com.cjx913.mybatis.mapper"/>
        <!--<mapper class=""/>--><!--配置mapper接口，Mapper.java和Mapper.xml同名且放在同一包下-->
        <!--<package name=""/>--><!--批量对mapper配置，自动扫描包下的mapper接口，Mapper.java和Mapper.xml同名且放在同一包下-->
    </mappers>
</configuration>